@media screen and (min-width: 660px) {

  /* to hide active mobile menu while stretching the page */
  /* .header__menu-mobile_active {
    display: none !important;
  } */

  .header {
    background-color: transparent !important;
  }

  .header__burger-menu_active {
    display: none !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .main {
    padding-top: 32px;
  }

  .search-results__heading {
    margin: 0 0 58px 0;
  }
}

@media screen and (max-width: 1328px) {
  .news__item {
    max-height: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 1170px) {
  .about__info {
    padding: 10% 50px 0 30px;
  }
}

@media screen and (max-width: 1024px) {
  .search-results {
    width: calc(100% - 2 * 1.5%);
  }

  .footer {
    /* padding: 0 40px; */
    width: calc(100% - 2 * 40px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
    width: calc(100% - 2 * 40px);
  }

  .page__top::before {
    top: 65px;
  }

  .main-menu__link {
    padding-bottom: 23px;
  }

  .search {
    width: 448px;
    min-width: 448px;
  }

  .search-results {
    width: calc(100% - 2 * 5.2%);
  }

  .search__heading {
    font-size: 36px;
    line-height: 40px;
  }

  .search-form__input {
    height: 56px;
    /* padding: 0 208px 0 24px; */
  }

  .search-form__btn-submit {
    padding: 0 52px;
    margin-left: -158px;
  }

  .form__btn-submit {
    height: 56px;
  }

  .news__item {
    max-height: 420px;
    height: 420px;
    background-size: 100% 36%;
    /* 100% 35.7% */
  }

  .news__tools {
    /* display: flex; */
    /* justify-content: flex-end; */
    height: 150px;
    min-height: 150px;
    max-width: 224px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 18px;
  }

  .news__date {
    margin-bottom: 10px;
  }

  .news__title {
    margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 24px;
  }

  .news__text {
    margin: 0 0 12px 0;
    height: 88px;
    max-height: 88px;
  }

  .news {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 22px;
  }

  .news__tools {
    height: 175px;
    min-height: 175px;
    max-width: 100%;
  }

  .search-results__heading {
    margin: 0 0 32px 0;
    font-size: 30px;
    line-height: 34px;
  }

  .search-results {
    padding-bottom: 40px;
  }

  .search-result__btn {
    padding: 16px 74px;
  }

  .about {
    padding-bottom: 61px;
  }

  .about__avatar {
    max-width: 232px;
    max-height: 232px;
    padding-left: 40px;
    padding-top: 61px;
  }

  .about__info {
    padding: 40px 40px 0 32px;
  }

  .about__heading {
    margin: 0 0 16px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .footer__copyright {
    padding-top: 24px;
  }

  .footer__links {
    padding-top: 21px;
  }

  /* .gallery {
    grid-template-columns: repeat(1, 282px);
    margin-bottom: 48px;
    justify-content: center;
  } */
}

@media screen and (max-width: 755px) {
  .footer {
    flex-direction: column-reverse;
    /* box-sizing: border-box; */
    margin: auto;
    width: calc(100% - 2 * 16px);
    /* width: auto; */
    /* padding: 0 16px; */
  }

  .footer__copyright {
    padding-top: 38px;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 719px) {
  .news__item {
    max-height: 445px;
    height: 445px;
  }

  .news__title {
    max-height: 72px;
    height: 72px;
  }
}

@media screen and (max-width: 660px) {
  .header__menu {
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    background-color: #000;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    display: none;
  }

  .header__menu.header__menu_active {
    display: flex;
  }

  .burger-menu {
    display: block;
    position: absolute;
    right: 16px;
    top: 28px;
    /* display: none; */
  }

  /* .burger-menu_active {
    border-top: none;
    border-bottom: none;
    height: 24px;
    width: 24px;
    background-image: url('../images/no-comp/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 16px;
    right: 11px;
  } */

  .burger-menu_active {
    /* border-top: none;
    border-bottom: none; */
    /* height: 12px;
    width: 12px; */
    /* background-image: url('../images/no-comp/close.png');
    background-repeat: no-repeat;
    background-size: contain; */
    /* top: 16px;
    right: 11px; */
    /* display: block; */
  }

  .burger-menu.burger-menu_active:before {
    transform: rotate(45deg);
    margin-bottom: -2px;
  }

  .burger-menu.burger-menu_active:after {
    transform: rotate(-45deg);
  }



  .main-menu {
    flex-direction: column;
    align-items: start;
    padding: 1em;
  }

  .btn__header {
    align-self: center;
    max-width: 288px;
    width: 100%;
    margin-bottom: 24px;
  }

  .main-menu__link {
    display: inline-block;
    padding: 0;
    line-height: 56px;
  }

  .header {
    height: 56px;
    width: 100%;
    background-color: #000;
    /* position: fixed; */
  }

  .header__wrapper {
    /* width: calc(100% - 2 * 16px); */
    padding: 0 1em;
  }

  .page__top::before {
    top: 55px;
    z-index: 9999;
  }

  .header__logo {
    flex-basis: 117px;
  }

  .news__item {
    max-height: 446px;
    height: 446px;
  }

  .news__tools {
    height: 196px;
    min-height: 196px;
    margin-bottom: 16px;
    padding: 16px;
  }

  .news__title {
    margin: 0 0 18px 0;
    height: 48px;
    max-height: 48px;
  }

  .news__text {
    margin: 0 0 8px 0;
  }

  .news__post {
    padding: 0 16px 17px;
  }
}

@media screen and (max-width: 600px) {
  .news {
    grid-template-columns: repeat(1, auto);
  }

  .news__tools {
    height: 272px;
    min-height: 272px;
    width: 100%;
  }

  .news__item {
    max-height: 576px;
    height: 576px;
  }

  .search-results {
    width: 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about__avatar {
    padding-top: 32px;
    max-width: 272px;
    max-height: 272px;
    padding-left: 0px;
  }

  .about__info {
    padding: 24px 16px;
  }

  .foo-menu {
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 30px; */
  }
}

@media screen and (max-width: 480px) {
  .search-results, .search {
    width: 288px;
    min-width: 288px;
  }

  .search-form {
    flex-direction: column;
  }

  .search-form__input {
    height: 56px;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .search-form__btn-submit {
    padding: 0 56px;
    margin-left: 0;
    width: 100%;
  }

  .search__heading {
    margin: 0 0 16px;
  }

  .search__subheading {
    margin: 0 0 122px;
  }
}
