.popup {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .8s ease;
}

.popup__container {
  min-width: 320px;
  max-width: 430px;
  width: 430px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 10px;
  top: 195px;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
}

.popup.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  font-size: 67px;
  transform: rotate(45deg);
  font-weight: 200;
  padding: 0;
  line-height: 43px;
  color: #fff;
  background: none;
  border: none;
}

.popup__close:hover {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.popup__close:focus {
  outline: none;
}

.main-popup {
  margin: 0 auto;
}

.main-popup__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 358px;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .popup {
    background: none;
  }

  .popup__container {
    top: 56px;
    left:0;
    min-width: 320px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .popup__container_info {
    top:auto;
    left:auto;
    max-width: auto;
    height: auto;
    top: 20%;
  }

  .popup__close {
    top: -29px;
    right: 12px;
    line-height: 0px;
    font-size: 35px;
  }
}
