.popup-info__link {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
}

.popup-info__bottom {
  align-self: flex-start;
  margin-top: 0;
}

.popup-info__heading {
  margin-bottom: 14px;
}

.popup__container_info {
  padding: 43px 79px 51px 36px;
}
